/*Навигация*/
.navigation{
    margin-top: 50px;
    
    &__wrap{
        justify-content: space-between;
        display: flex;
        align-items: center;
    }

    &__list{
        display: flex;
        gap: 50px;
        @media screen and (max-width: 768px){
            gap: 20px;
        }
        &-item-link{
            text-decoration: none;
            font-family: var(--font_regular);
            font-size: var(--text_main);
            font-weight: var(--weight_text);
        }

        &-item-link:hover{
            text-decoration: underline;
        }
    }
}


/*Конец Навигация*/